version: '3.9'

networks:
  laravel:

services:
  php:
    container_name: php-8.3
    build: 
      context: ./backend
      dockerfile: Dockerfile  
    ports:
      - "9000:9000"
    volumes:
      - ./backend:/var/www/html
      - ./backend/storage:/var/www/html/storage
      - ./backend/bootstrap/cache:/var/www/html/bootstrap/cache
    networks:
      - laravel
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: mydatabase
      DB_USER: admin
      DB_PASSWORD: admin123
    

  db:
    container_name: postgres
    restart: always
    image: postgres:latest  
    ports:
      - "5432:5432"
    volumes:
      - ./docker/postgres:/var/lib/postgresql/data 
    networks:
      - laravel
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: mydatabase

  nginx:
    container_name: nginx
    image: nginx:1-alpine
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./backend:/var/www/html
    networks:
      - laravel
    depends_on:
      - php

